.building
    z-index: 5
    .container
        z-index: 1
    &-content
        display: flex
        flex-direction: column
        align-items: center
        margin-top: gem(220)
        h2 
            margin-bottom: gem(22)
            span
                background: linear-gradient(93.92deg, #4739FF 0%, #22F4FF 48.96%, #7B46FF 100%)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
        p 
            width: gem(419)
            text-align: center
            opacity: .8
            margin-bottom: gem(150)
    &-main
        display: flex
        flex-direction: row
        &-left
            width: gem(500)
            z-index: 0
            video
                display: flex
                position: absolute
                width: gem(1100)
                left: gem(-400)
                z-index: 0
                top: gem(140)
        &-right
            z-index: 5
            overflow: hidden
            height: gem(460)
            .slick-list
                overflow: visible
                .slick-current
                    p
                        background-position: 0 0
                    a
                        opacity: 1
            &-content
                width: gem(502)
                margin-left: gem(80)
                
                &-highlights
                    h3
                        margin-bottom: gem(16)
                        padding-top: gem(30)
                    p
                        width: gem(502)
                        margin-bottom: gem(37)
                        background: -webkit-linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9920343137254902) 30%, rgba(255,255,255,0) 100%)
                        
                        -webkit-background-clip: text
                        -webkit-text-fill-color: transparent
                        background-size: 100% 200%
                        background-position: 0 100%
                        transition: all 0.3s ease
                    a   
                        margin-bottom: gem(73)
                        display: flex
                        flex-direction: row
                        width: gem(155)
                        opacity: 0.1
                        transition: all 0.3s ease
                        img
                            width: gem(32)
                            display: flex
                            position: relative
                            top: gem(-10)
                            right: gem(-10)
                        h4
                            font-family: var(--button-font) 
        // &-right
        //     z-index: 5
        //     overflow: scroll
        //     height: gem(250)
        //     &::-webkit-scrollbar 
        //         width: 0
        //     &-content
        //         width: gem(502)
        //         &::-webkit-scrollbar 
        //             width: 0
        //         &-highlights
        //             h3
        //                 margin-bottom: gem(16)
        //                 padding-top: gem(30)
        //             p
        //                 width: gem(502)
        //                 margin-bottom: gem(37)
        //             a   
        //                 margin-bottom: gem(73)
        //                 display: flex
        //                 flex-direction: row
        //                 width: gem(155)
        //                 img
        //                     width: gem(32)
        //                     display: flex
        //                     position: relative
        //                     top: gem(-10)
        //                     right: gem(-10)
        //                 h4
        //                     font-family: var(--button-font)    
        .counter
            display: flex
            position: absolute
            top: 2.5rem
            right: gem(-30)
            flex-direction: column
            align-items: center
            height: 100%
            .counter_desctop
                width: gem(103)
                position: absolute
                top: 0
                left: 0
            .counter_tablet
                display: none
            .current, .total
                z-index: 9
            .slider-line
                display: flex
                content: ''
                width: gem(2)
                height: gem(200)
                z-index: 2
                height: 100%
                background: #111
                align-items: flex-start
                .slider-progress
                    display: flex
                    width: 100%
                    height: 25%
                    background: #fff
                    transition: height 0.3s ease
    .highlights_bg
        display: flex
        position: absolute
        top: gem(-230)
        right: gem(-120)
        // z-index: 4
        img
            width: gem(1100)
@media only screen and (max-width : 1024px)
    .building
        .container
        &-content
            align-items: flex-start
            margin-top: gem(520)
            h2
                z-index: 1
            p 
                text-align: left
                z-index: 1
                margin-bottom: gem(50)
        &-main
            flex-direction: column
            &-right
                &-content
                    display: flex
                    flex-direction: column
            .counter
                display: none
                .counter_desctop
                    display: none
                .counter_tablet
                    display: flex
                    position: relative
                    top: gem(200)
            &-left
                display: flex
                position: relative
                top: gem(-904)
                left: gem(175)
        .highlights_bg
            top: gem(-430)
@media only screen and (max-width : 480px)
    .building
        overflow-x: hidden
        position: relative
        top: gem(-258)
        &-content
            position: relative
            top: gem(-250)
            p
                width: gem(366)
        &-main
            &-left
                // overflow-x: visible
                video
                    width: gem(700)
                    left: gem(-354)
                    top: gem(107)
                    height: gem(500)
            &-right
                &-content
                    position: relative
                    top: gem(-300)
                    left: gem(-79)
                    &-highlights
                        p
                            width: gem(366)
                        a 
                            margin-bottom: gem(0)

            //         width: gem(360)
            //         overflow-x: hidden
            //         height: gem(300)
            //         // height: inherit
            //         flex-direction: column
            //         &-highlights
            //             p
            //                 width: gem(366)
            //                 margin-bottom: gem(25)
            //             a   
            //                 margin-bottom: gem(50)
            .counter
                display: none
                .counter_tablet
                    display: none
        .highlights_bg
            right: gem(-39)
            img
                width: gem(400)

