footer
    .footer-main    
        display: flex
        position: relative
        flex-direction: row
        justify-content: space-between
        &-logo
            img
                width: gem(133)
        &-hash
            img
                width: gem(182)