.team
    background-color: #000
    margin-top: gem(200)
    &-content
        display: flex
        flex-direction: column
        align-items: center
        h2
            margin-bottom: gem(22)
            margin-top: gem(110)
            span
                background: linear-gradient(93.92deg, #4739FF 0%, #22F4FF 48.96%, #7B46FF 100%)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
        p
            width: gem(690)
            margin-bottom: gem(110)
    &-card
        display: flex
        flex-direction: row
        margin-bottom: gem(110)
        &-value
            display: flex
            width: gem(286)
            height: gem(286)
            background-image: url(../images/josh_card_png.png) 
            background-repeat: no-repeat
            background-size: contain
            flex-direction: column
            padding: gem(32)
            margin-right: gem(16)
            z-index: 5
            &:hover
                .img_hover
                    opacity: 1
                .sergio_hover
                    opacity: 1
            img
                width: gem(100)
                margin-bottom: gem(16)
            h3
                font-family: var(--button-font)
                line-height: gem(18)
                margin-bottom: gem(10)
            h4 
                background: linear-gradient(90.72deg, #7B46FF 3.94%, #23F3FF 49.57%, #444CFF 98.15%), linear-gradient(0deg, #FFFFFF, #FFFFFF)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
                font-size: gem(12)
                line-height: gem(16)
                margin-bottom: gem(18)
            &:nth-child(2)
                background-image: url(../images/lukas_card_png.png) 
            &:nth-child(3)
                background-image: url(../images/sergio_card_png.png) 
            .social_icon 
                display: flex
                flex-direction: row
                a
                    border-radius: gem(60)
                    border: 1px solid #fff
                    width: gem(32)
                    height: gem(32)
                    display: flex
                    align-items: center
                    justify-content: center
                    margin-right: gem(12)
                    transition: background .3s ease
                    &:hover
                        background: #22F4FF
                        svg
                            path
                                fill: #7B46FF
            .img_hover
                display: flex
                position: relative
                top: gem(-240)
                left: gem(150)  
                width: gem(100)
                opacity: 0
                transition: opacity .3s ease
            .sergio_hover
                display: flex
                position: relative
                top: gem(-220)
                left: gem(165) 
                width: gem(62)
                opacity: 0
                transition: opacity .3s ease
    .head_light
        display: flex
        position: absolute
        top: gem(200)
        right: gem(-150)
        img
            width: gem(546)
        .head_light_on
            display: flex
            position: absolute
            animation: head 4s linear infinite
    .bg_head
        display: none

@keyframes head
    0%
        opacity: 1
    10%
        opacity: 0
    20%
        opacity: 1
    30%
        opacity: 0
    40%
        opacity: 0
    100%
        opacity: 0

@media only screen and (max-width : 1024px)
    .team
        display: flex
        position: relative
        top: gem(350)
        margin-top: gem(300)
        &-content
            align-items: flex-start
            position: relative
            top: gem(-100)
            z-index: 3
            p
                margin-bottom: gem(0)
        &-card
            width: gem(740)
        .head_light
            top: gem(-450)
            right: gem(-50)
        .bg_head
            display: flex
            position: absolute
            z-index: 2
            top: gem(-450)
@media only screen and (max-width : 480px)
    .team
        margin-top: gem(-200)
        &-content
            top: gem(-200)
            p 
                width: gem(340)
        &-card
            position: relative
            top: gem(-140)
            flex-direction: column
            width: gem(300)
            margin-left: gem(30)
            &-value
                margin-bottom: gem(20)
            // width: gem(1200)
        .bg_head
            top: gem(-350)
        .head_light
            right: 0
            top: gem(-480)

