@import './common/vars.sass'
@import './common/gem.scss'
@import 'blocks/**/*'

*
    box-sizing: border-box

html, body
    width: 100%
    background: #000

body,
main
    overflow-x: hidden

body
    display: flex
    flex-direction: column
    font-family: var(--main-font)
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility

a
    text-decoration: none
    outline: none

img
    max-width: 100%
    height: auto

section
    position: relative
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    // visibility: hidden
.container
    position: relative
    width: var(--container-width)
    min-width: var(--container-width)
    margin: 0 auto

input , textarea
    &::-webkit-input-placeholder,
    &::placeholder
        transition: all .3s
    &:focus
        &::-webkit-input-placeholder,
        &::placeholder
            color: transparent

button[type='submit']
    cursor: pointer

//start here
header
    display: flex
    position: fixed
    flex-direction: row
    height: gem(102)
    align-items: center
    width: 100%
    z-index: 7
    background: rgba(0, 0, 0, 0.6)
    backdrop-filter: blur(42px)
    .logo
        display: flex
        margin: gem(0) gem(148) gem(0) gem(61)
        a
            display: flex
    .menu
        display: flex
        a
            display: flex
            margin: gem(0) gem(23)
            transition: color .3s ease
            &:hover
                color: #22F4FF
    &::after
        content: ""
        height: 1px
        width: gem(1011)
        display: flex
        position: absolute
        top: gem(102)
        background-color: #fff
        opacity: 0.3
    .progress
        position: fixed
        left: 0
        top: gem(102)
        width: 20%
        height: gem(2)
        background: linear-gradient(97.56deg, #4739FF 0%, #22F4FF 50.52%, #7B46FF 100%);

.create 
    &-main
        display: flex
        flex-direction: row
        &-left
            display: flex
            flex-direction: column
            z-index: 1
            h1
                width: gem(684)
                margin-top: gem(106)
                margin: gem(209) gem(0) gem(30) gem(0)
                span
                    background: linear-gradient(93.92deg, #4739FF 0%, #22F4FF 48.96%, #7B46FF 100%)
                    -webkit-background-clip: text
                    -webkit-text-fill-color: transparent
            p
                width: gem(502)
                opacity: 0.8
                margin-bottom: gem(54)
            .lightning
                display: flex
                position: absolute
                top: gem(330)
                left: gem(500)
                width: gem(51)
            form
                display: flex
                position: relative
                flex-direction: row
                width: gem(547)
                .custom_input
                    display: flex
                    transition: opacity 1s ease
                    width: gem(311)
                    &:hover
                        .input_def
                            opacity: 0
                        .input_active
                            opacity: 1
                    input
                        display: flex
                        position: relative
                        top: 0
                        width: gem(311)
                        height: gem(56)
                        background: none
                        border: none
                        outline: none
                        z-index: 2
                        color: #fff
                        font-family: var(--accent-font)
                        font-size: gem(12)
                        line-height: gem(14)
                        padding-left: gem(24)
                    .input_def
                        display: flex
                        position: absolute
                        opacity: 1
                        transition: opacity 1s ease
                    .input_active
                        display: flex
                        position: absolute
                        opacity: 0
                        transition: opacity 1s ease
                button
                    display: flex
                    position: relative
                    top: gem(-10)
                    background-color: transparent
                    border-color: transparent
                    left: gem(330)
            &-project
                display: flex
                background-image: url(../images/Union.svg)
                height: gem(135)
                background-repeat: no-repeat
                background-size: contain
                align-items: center
                position: relative
                width: gem(547)
                flex-direction: row
                margin-top: gem(144)
                .url
                    display: flex
                    flex-direction: row
                    margin-left: gem(32)
                    align-items: center
                    position: absolute
                    top: gem(16)
                    width: gem(547)
                    a
                        margin-right: gem(19)
                        transition: all .3s ease
                        img
                            width: gem(131)
                        &:nth-child(2)
                            // width: gem(87) 
                            img
                                width: gem(87)
                        &:hover
                            opacity: 0.7
                    .articals
                        position: absolute
                        font-size: gem(8)
                        line-height: gem(10)
                        opacity: 0.7
                        font-family: var(--button-font)
                        top: 0
                        left: gem(350)
                    .keepsmile
                        width: gem(75)
        &-right
            display: flex
            position: relative
            z-index: 6
            margin-left: gem(89)
            background-image: url(../images/glass.png)
            width: gem(480)
            height: gem(810)
            right: gem(-118)
            background-repeat: no-repeat
            background-size: cover
            video
                display: block
                width: gem(700)
                height: gem(800)
                mix-blend-mode: screen
                position: relative
                right: gem(250)
                top: 0
                filter: saturate(1.4)
    .bg-light
        display: flex
        position: absolute
        top: gem(-102)
        left: gem(-282)

.button_inner
    width: gem(214)
    height: gem(56)
    background: #fff
    display: flex
    justify-content: center
    align-items: center
    color: #000 !important
    z-index: 6
    font-family: var(--button-font) !important
    border-radius: 0 gem(8) gem(8) gem(8)
    transform: translate3d(gem(5), gem(5), 0)
    transition: all 1s ease
    img
        width: gem(16)
        margin-right: gem(7)
.post
    display: flex
    position: fixed
    top: gem(15)
    right: gem(60)
    width: gem(214)
    cursor: pointer
    z-index: 7
    color: #000
    transition: all 1s ease
    &::after
        display: flex
        position: absolute
        content: ''
        width: gem(212)
        height: gem(54)
        border-radius: 0 gem(8) gem(8) gem(8)
        background: linear-gradient(93.92deg, #22F4FF 0%, #F0598D 48.96%, #FFC93C 100%)
        // transition: all 1s ease
    &:hover
        .button_inner
            transition: all 1s ease
            transform: translate3d(0, 0, 0)
            background: linear-gradient(93.92deg, #22F4FF 0%, #F0598D 48.96%, #FFC93C 100%)

.building
    &-content
        display: flex
        flex-direction: column
        align-items: center
        margin-top: gem(220)
        h2 
            margin-bottom: gem(22)
            span
                background: linear-gradient(93.92deg, #4739FF 0%, #22F4FF 48.96%, #7B46FF 100%)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
        p 
            width: gem(419)
            text-align: center
            opacity: .8
            margin-bottom: gem(150)
    &-main
        display: flex
        flex-direction: row
        &-left
            width: gem(500)
        &-right
            &-highlights
                h3
                    margin-bottom: gem(16)
                p
                    width: gem(502)
                    margin-bottom: gem(37)
                a   
                    margin-bottom: gem(73)
                    display: flex
                    flex-direction: row
                    img
                        width: gem(32)
                        display: flex
                        position: relative
                        top: gem(-10)
                        right: gem(-10)
                    h4
                        font-family: var(--button-font)

.team
    &-content
        display: flex
        flex-direction: column
        align-items: center
        h2
            margin-bottom: gem(22)
            span
                background: linear-gradient(93.92deg, #4739FF 0%, #22F4FF 48.96%, #7B46FF 100%)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
        p
            width: gem(690)
            margin-bottom: gem(110)
    &-card
        display: flex
        flex-direction: row
        margin-bottom: gem(110)
        &-value
            display: flex
            width: gem(286)
            height: gem(286)
            background-image: url(../images/card.svg) 
            background-repeat: no-repeat
            background-size: contain
            flex-direction: column
            padding: gem(32)
            margin-right: gem(16)
            img
                width: gem(100)
                margin-bottom: gem(16)
            h3
                font-family: var(--button-font)
                line-height: gem(18)
                margin-bottom: gem(10)
            h4 
                background: linear-gradient(90.72deg, #7B46FF 3.94%, #23F3FF 49.57%, #444CFF 98.15%), linear-gradient(0deg, #FFFFFF, #FFFFFF)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
                font-size: gem(12)
                line-height: gem(16)
                margin-bottom: gem(18)
            &:nth-child(2)
                background-image: url(../images/lukas_bg.svg) 
            &:nth-child(3)
                background-image: url(../images/sergio_bg.svg) 
            .social_icon 
                display: flex
                flex-direction: row
                a
                    border-radius: gem(60)
                    border: 1px solid #fff
                    width: gem(32)
                    height: gem(32)
                    display: flex
                    align-items: center
                    justify-content: center
                    margin-right: gem(12)
            

.partners
    .container
        h2
            margin-bottom: gem(26)
            margin-top: gem(110)
            span
                background: linear-gradient(93.92deg, #4739FF 0%, #22F4FF 48.96%, #7B46FF 100%)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
        p
            width: gem(568)
            margin-bottom: gem(110)
    &-contant
        display: flex
        flex-wrap: wrap
        margin-left: gem(120)
        margin-bottom: gem(110)
        &-item  
            display: flex
            width: gem(240)
            height: gem(180)
            background: rgba(255, 255, 255, 0.03)
            box-shadow: inset 0px 0.798571px 25px rgba(227, 222, 255, 0.1)
            backdrop-filter: blur(15px)
            align-items: center
            justify-content: center
            &:nth-child(1)
                border-radius: 40px 0 0 0 
            &:nth-child(5)
                border-radius: 0 40px 0 0
            &:nth-child(6)
                border-radius: 0 0 0 40px
            &:nth-child(10)
                border-radius: 0 0 40px 0
            img
                width: gem(120)
        &-line_x
            display: flex
            position: relative
            top: gem(-180)
            left: gem(109)
            width: gem(260)
            height: 1px
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 52.51%, rgba(255, 255, 255, 0) 102.88%)
            &:nth-child(12)
                left: gem(85)
            &:nth-child(13)
                left: gem(70)
            &:nth-child(14)
                left: gem(60)
        &-line_y
            display: flex
            position: absolute
            top: gem(450)
            left: gem(360)
            width: 1px
            height: gem(239)
            background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 52.51%, rgba(255, 255, 255, 0) 102.88%)
            &:nth-child(16)
                left: gem(600)
            &:nth-child(17)
                left: gem(840)
            &:nth-child(18)
                left: gem(1080)
                
.about  
    &-content
        display: flex
        flex-direction: column
        align-items: center
        h2
            margin-bottom: gem(22)
            width: gem(846)
            text-align: center
            span
                background: linear-gradient(93.92deg, #4739FF 0%, #22F4FF 48.96%, #7B46FF 100%)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
        p
            width: gem(519)
            text-align: center
        &-project
            display: flex
            background-image: url(../images/Union.svg)
            height: gem(135)
            background-repeat: no-repeat
            background-size: contain
            align-items: center
            position: absolute
            top: gem(200)
            .url
                display: flex
                flex-direction: row
                margin-left: gem(32)
                align-items: center
                position: relative
                top: gem(16)
                a   
                    display: flex
                    margin-right: gem(19)
                    transition: all .3s ease
                    &:hover
                        opacity: 0.7
                .keepsmile
                    display: flex
                    position: relative
                    top: gem(-5)
                    left: gem(-5)
                .articals
                    display: flex
                    font-size: gem(8)
                    line-height: gem(10)
                    opacity: 0.7
                    font-family: var(--button-font)
                    position: absolute
                    top: gem(-22)
                    left: gem(310)


                

       
    //     width: gem(286)
    //     height: gem(286)
    //     border: 1px solid #fff
    //     // border-image: linear-gradient(to left top,#ffffff00 5.22%,  #FFFFFF 30%, transparent 70%, #adf2f7 90%)
    //     // border-image-slice: 2
    //     border-radius: gem(40)


// border-image-source: linear-gradient(272.07deg, #ffffff00 5.22%, #FFFFFF 20.97%, #ffffff00 35.77%),
// linear-gradient(110.3deg, #ffffff -2.07%, #ffffff00 25.17%)


        